body {
    background-color: black;
}

.main {
    background-color: white;
    margin-top: 110px;
    margin-bottom: 110px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}

.main .ryu {
    float: left;
}

.main .ryu .ryu-ready,
.main .ryu .ryu-still,
.main .ryu .ryu-throwing,
.main .ryu .ryu-cool {
    width: 659px;
    height: 494px;
    background-repeat: no-repeat;
}

.main .ryu .ryu-ready,
.main .ryu .ryu-throwing,
.main .ryu .ryu-cool {
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    position: absolute;
    z-index: 10;
    top: 173px;
    left: 633px;
    float: left;
    display: none;
}

.main .explanation {
    color: black;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 4rem;
    margin-top: 6rem;
    position: absolute;
    right: 6rem;
    width: 600px;
    text-align: right;
}

.main .explanation p {
    font-size: 24px;
    line-height: 45px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
